/*********************************
	GERAL
*********************************/

body {
	font-family: 'Open Sans', sans-serif;
}

/*********************************
	CABEÇALHO
*********************************/

header #header-topo {
	background: #141414;
	text-align: center;
	font-size: 30px;
	padding: 15px 0;
}

header #header-topo a {
	color: #f49e00;
}

header #header-menu .navbar-collapse {
	text-align: center;
}

header #header-menu {
	background: #f49e00;
}

header #header-menu .navbar {
	margin-bottom: 0;
}

header #header-menu .navbar a {
	color: #141414;
}

header #header-menu .navbar-nav {
	float: none;
	display: inline-block;
}

/*********************************
	RODAPÉ
*********************************/

.comentarios-pagina {
	margin: 50px 0;
}

footer {
	background: #141414;
	color: #f49e00;
}

/*********************************
	HOME
*********************************/

.home h1 {
	text-align: center;
}

.home .foto-sobre {
	max-width: 300px;
	display: block;
	margin: 20px auto;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;
}