/*********************************
	GERAL
*********************************/

body {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: #141414;
	margin: 10px auto;
}

a:hover {
	opacity: 0.9;
}

a .fa {
	margin-right: 5px;
	font-size: 30px;
}

/*********************************
	CABEÇALHO
*********************************/

header #header-topo {
	background: #141414;
	text-align: center;
	font-size: 30px;
	padding: 15px 0;
}

header #header-topo a {
	color: #f49e00;
}

header #header-topo a:hover {
	text-decoration: none;
}

header #header-menu .navbar-collapse {
	text-align: center;
}

header #header-menu {
	background: #f49e00;
}

header #header-menu .navbar {
	margin-bottom: 0;
}

header #header-menu .navbar a {
	color: #141414;
	margin: 0;
}

header #header-menu .navbar-nav {
	float: none;
	display: inline-block;
}

.navbar .navbar-header {
	text-align: center;
}

.navbar .navbar-header .navbar-toggle {
	float: none;
}

.navbar .navbar-header .navbar-toggle .icon-bar {
	height: 3px;
	background: #000;
}

/*********************************
	RODAPÉ
*********************************/

.comentarios-pagina {
	margin: 50px 0;
}

footer {
	background: #141414;
	color: #f49e00;
	text-align: center;
	padding: 20px 0;
	font-size: 16px;
}

footer p {
	margin-bottom: 0;
}

/*********************************
	HOME
*********************************/

.home h1 {
	text-align: center;
}

.home .foto-sobre {
	max-width: 300px;
	display: block;
	margin: 20px auto;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;
}

/*********************************
	INTERNAS
*********************************/

.interna {
	padding: 30px 0;
}

.interna h1 {
	text-align: center;
}